[Unit]
Description=Rust Server
After=network-online.target
Wants=network-online.target

[Service]
#EnvironmentFile=/etc/rust.conf
Type=simple
User=rust
Group=rust
RestartSec=90s

ExecStart=/usr/local/bin/start_rust.sh
Restart=always
ExecStartPre=+wall "Starting rust server, for status run -- journalctl -f -u rust"
RemainAfterExit=no
KillMode=control-group
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
