[Unit]
Description=Game updater for rust
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rust
Group=rust
ExecStart=/usr/local/bin/update_rust.sh
ExecStartPre=+/bin/bash -c "systemctl is-active --quiet rust && wall 'You must stop rust service first' || wall "running rust updater, you can track progress with the command -- journalctl -f""
ExecStartPost=+wall "Rust update completed"
RemainAfterExit=no

[Install]
WantedBy=multi-user.target