[Unit]
Description=Game updater for rust
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rust
Group=rust
ExecStart=/usr/local/bin/update_rust.sh
#better its stopped in the updater instead
#ExecStartPre=systemctl stop rust
RemainAfterExit=no

[Install]
WantedBy=multi-user.target