[Unit]
Description=Rust Staging Server

[Service]
Type=simple
RestartSec=30s
ExecStart=HOMEPATH/rust_staging/start_rust_staging.sh
Restart=always
RestartForceExitStatus=1
SuccessExitStatus=0
ExecStartPre=+logger -p user.info "Starting rust Staging server, for status run: journalctl --user -f -u rust-staging"
RemainAfterExit=no
KillMode=control-group
KillSignal=SIGINT
TimeoutStartSec=600
TimeoutStopSec=300
MemoryMax=16G
#CPUQuota=50%
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
